@media (min-width: 1200px)
    .navbar
        &__item
            &:hover
                &::after
                    width: 78%
                    left: 0
        &-dropdown
            &__item
                &:hover
                    background-color: transparent
                    border: 1px solid $light
                    border-radius: 4px
                    outline: none
        &__form
            &-button
                &:hover
                    transition: 0.7s ease
                    background-color: $light
                    color: $blue
                    border: 2px solid $light
    .search
        &__button
            &:hover
                transition: 0.7s ease
                color: $blue
                background-color: $light
                border: 1px solid $blue
    .tags
        &__link
            &:hover
                transition: 0.7s ease
                background-color: $light
                color: $blue
    .button
        &:hover
            background-color: rgba(54,179,126,0.3)
    .slider
        &-button
            &:hover
                background-color: $offers
    .subscribe
        &__button
            &:hover
                transition: 0.7s ease
                color: $blue
                background-color: $light
                border: 1px solid $blue
    .footer
        &__link
            &:hover
                transition: 0.7s ease
                color: $light
                font-weight: 600

@media (max-width: 1340px)
    .review-card
        left: -30px
@media (max-width: 1200px)
    .container
        max-width: 960px
    br
        display: none
    .feature-card
        max-width: 900px
        margin-right: auto
        margin-left: auto
        &__info
            flex-basis: 50%
            padding: 22px 28px 22px 22px
        &__img
            flex-basis: 50%
        &__foto
            width: 100%
        &__title
            font-size: 24px
            line-height: 32px
            margin-bottom: 10px
        &__subtitle
            font-size: 16px
            line-height: 28px
            margin-bottom: 0
            max-width: 300px
    .offer-card
        width: 470px
        height: 500px
        margin-bottom: 20px
        &--small
            width: 300px
            padding: 10px 18px 37px 15px
        &__title
            font-size: 26px
            line-height: 38px
    .recent-wrapper
        flex-wrap: wrap
    .review
        &-card
            left: 0
            &::after
                display: none
            &::before
                display: none
        &__title
            font-size: 28px
            line-height: 32px
        &__subtitle
            max-width: 400px
    .subscribe
        &__input
            margin-bottom: 12px
        &__button
            margin-left: 0
            width: 320px
    .slider
        &-button
            &--prev
                left: 2px
    .slider
        &-button
            &--next
                right: 2px
    .footer
        padding: 20px 0 50px
        &-wrapper
        &__info
            margin: 0
    .footer__menu-item+.footer__menu-item
        margin-left: 0

@media (max-width: 992px)
    .container
        max-width: 700px
    .navbar
        &__wrapper
            display: none
    .mobile-menu-open-btn
        display: flex
        &--hidden
            display: none
    .main
        &-screen
            padding: 5px 0
    .search
        &__input
            max-width: 700px
    .section-header
        padding-top: 96px
        display: flex
        flex-direction: column
        align-items: center
        &__subtitle
            text-align: center
    .popular
        position: relative
        &__button
            position: absolute
            left: 50%
            bottom: -3%
            transform: translate(-50%, -50%)
        &-wrapper
            flex-wrap: wrap
            justify-content: center
    .feature-card
        height: 100%
        &__title
            margin: 2px 0
    .offers
        &__text
            text-transform: uppercase
    .post-info
        margin-top: 24px
    .offer-card
        width: 100%
        height: 450px
    .recent
        position: relative
        &-header
            &__button
                position: absolute
                left: 50%
                bottom: -4%
                transform: translate(-50%, -50%)
    .slider
        &-button
            &--prev
                left: -25px
            &--next
                right: -25px
    .examples
        position: relative
        &-header
            &__button
                position: absolute
                left: 50%
                bottom: -9%
                transform: translate(-50%, -50%)
    .review
        height: 100%
        padding-bottom: 60px
        &-wrapper
            justify-content: center
        &-info
            display: none
        &__title
            max-width: 100%
        &__subtitle
            max-width: 100%
    .footer
        &__wrapper
            align-items: start
        &__menu
            flex-wrap: wrap
            justify-content: space-between
            &-item
                margin-top: 0
        &__info
            margin-top: 24px

@media (max-width: 767px)
    .container
        max-width: 700px
        width: 92%
    .header
        background-image: url('../img/background.jpg')
        height: auto
    .search
        flex-direction: column
        height: 125px
        background-color: transparent
        &__input
            background-color: $light
            margin-bottom: 12px
            border-radius: 8px
            width: 100%
            height: 48px
        &__button
            position: static
            height: 48px
    .tags
        flex-direction: column
        &__title
            margin-bottom: 12px
    .feature-card
        flex-direction: column
        &__info
            border-width: 0px 1px 1px 1px
            border-radius: 0 0 16px 16px
        &__img
            border-radius: 16px 16px 0 0
            height: 220px
            overflow: hidden
        &__foto
            max-width: none
        &__title
            font-size: 20px
            line-height: 24px
            margin-top: 8px
        &__subtitle
            max-width: none
            font-size: 14px
            line-height: 24px
    .user-name
        font-weight: 600
        font-size: 14px
        line-height: 20px
    .verification
        &__info
            font-weight: normal
            font-size: 12px
            line-height: 16px
    .popular
        &__card
            margin-top: -76px
        &__button
            bottom: -3%
    .section
        &-header
            &__subtitle
                font-size: 13px
                line-height: 24px
                text-align: center
    .offer-card
        height: 380px
        &__wrapper
            height: 70%
            &--small
                height: 100%
    .slider-button
        width: 45px
        height: 46px
        &--prev
            left: -15px
        &--next
            right: -15px
    .review
        &__title
            max-width: 70%
    .footer
        &__wrapper
            flex-direction: column-reverse
            align-items: center
            padding: 0 90px
        &__info
            margin-right: 15px
            align-items: center
        &__text
            text-align: center
        &__copyright
            display: none
        &__spitem
            margin-top: 24px
    .mb-visible
        display: inline
    .mb-hide
        display: none
    .mobile-menu
        &__inner
            right: 4%

@media (max-width: 576px)
    .container
        width: 90%
    .header
        height: 482px
    .logo
        width: 77px
        height: 24px
    .navbar
        padding: 15px 7px 26px 7px
    .mobile-menu-open-btn
        padding-right: 1px
        width: 30px
    .main-title
        font-size: 32px
        line-height: 40px
    .search
        max-width: 272px
        &-wrapper
            padding-top: 12px
            display: flex
            flex-direction: column
            align-items: center
            width: 100%
        &__input
            width: 270px
            padding: 10px 10px 10px 43px
            background-position: left 14px bottom 50%
    .tags
        width: 100%
        padding: 0 3px 31px 7px
        &__title
            font-size: 14px
            line-height: 20px
        &__wrapper
            flex-wrap: wrap
        &__link
            margin-bottom: 10px
    .popular
        &__card
            margin-top: -63px
        &__button
            bottom: -2%
    .feature-card
        &__img
            height: 157px
        &__info
            padding: 20px 20px 22px 18px
        &__title
            margin-bottom: 0
    .offers
        padding: 4px 12px
    .avatar
        width: 36px
        height: 36px
    .post
        &-date
            font-size: 14px
            line-height: 20px
        &-info
            &--fixmobile
                margin-top: 2px
            &--mobile
                margin-top: 9px
            &--small
                margin-top: 7px
    .section
        &-header
            padding-top: 49px
            padding-bottom: 21px
            &__title
                margin: 0 0 14px 0
                font-size: 24px
                line-height: 32px
            &__subtitle
                font-size: 11px
                line-height: 24px
            &__description
                max-height: 72px
            &__button
                width: 172px
                height: 40px
                padding: 7px 12px 10px 15px
    .offer-card
        margin-bottom: 15px
        border-radius: 12px
        height: 320px
        padding: 19px 20px 16px 20px
        &--small
            padding-right: 17px
        &__button
            padding: 3px 8px
        &__text
            font-size: 14px
            line-height: 20px
        &__title
            margin-bottom: 0
            font-size: 20px
            line-height: 24px
            letter-spacing: 0.2px
            color: #FAFAFB
            &--mt
                margin-top: 27px
            &--small
                margin-bottom: 8px
        &__info
            margin: 0
            font-size: 14px
            line-height: 21px
        &__wrapper
            padding: 30px 2px 4px 1px
            &--mobile
                justify-content: flex-end
        &__date
            margin-right: 0
    .recent
        &-header
            padding-top: 74px
            padding-bottom: 10px
            &__title
                margin-bottom: 0
            &__subtitle
                font-size: 14px
                line-height: 24px
            &__button
                bottom: -6%
    .examples
        &-header
            padding-top: 83px
            padding-bottom: 8px
            &__subtitle
                font-size: 14px
                line-height: 24px
            &__button
                left: 48%
                bottom: -6%
        &__text
            font-size: 14px
            line-height: 20px
        &__offers
            padding: 3px 17px
    .slider-button
        width: 39px
        height: 40px
        top: 35.7%
        &__img
            height: 13px
        &--prev
            left: -8px
        &--next
            right: -8px
    .united
        padding-bottom: 97px
        &-header
            padding-top: 65px
            margin-right: 6px
            padding-bottom: 27px
            &__title
                margin-bottom: 12px
            &__subtitle
                font-size: 14px
                line-height: 24px
            &__description
                max-height: 97px
        &__offer-card
            padding-top: 22px
        &__button
            margin-top: 28px
    .wave__img
        display: none
    .review
        margin-top: 0
        padding-bottom: 17px
        &__title
            margin-bottom: 0
            font-size: 24px
            line-height: 32px
        &__subtitle
            margin-top: -3px
            font-size: 14px
            line-height: 27px
        &-wrapper
            padding-left: 8px
        &-form
            margin-top: 16px
    .subscribe
        padding-top: 8px
        &__input
            width: 272px
            height: 48px
        &__button
            width: 272px
            height: 48px
    .footer
        padding: 20px 0 2px
        &__wrapper
            padding: 0 8px 0 8px
            margin-bottom: 70px
        &__list-title
            font-size: 16px
            line-height: 22px
            margin-bottom: 20px
        &__menu
            padding-right: 20px
        &__list
            min-width: 110px
        &__link
            font-size: 14px
            line-height: 20px
        &__item
            margin-top: 14px
        &__info
            margin-right: 0
            align-items: center
        &__logo
            width: 77px
            height: 24px
            margin-bottom: 16px
        &__text
            font-size: 14px
            text-align: center
            margin-bottom: 24px
