*
    box-sizing: border-box

html
    overflow-x: hidden
body
    font-family: 'Open Sans', sans-serif

ul
    list-style: none
.container
    max-width: 1140px
    margin: auto
img
    max-width: 100%
    object-fit: cover
a
    text-decoration: none
.button
    font-weight: bold
    font-size: 16px
    line-height: 22px
    color: $blue
    text-decoration: none
    outline: none
    cursor: pointer
    &__arrow
        margin-left: 5px
    &__text
        font-weight: bold
        font-size: 16px
        line-height: 22px
        color: $blue
        margin-right: 11px
.return-button
    padding: 12px 21px 11px 22px
    background-color: $light
    border: 2px solid $blue
    border-radius: 8px
    text-decoration: none
.invalid
    margin-top: -10px
    color: $blue
    border-bottom: 1px solid $blue
    font-size: 14px
    line-height: 15px
label.invalid-mail
    position: absolute
    color: $blue
    border-bottom: 1px solid $blue
    font-size: 14px
    line-height: 15px
    top: -9px
    left: 0
.thankyou-wrapper
    display: flex
    flex-direction: column
    align-items: center
