*
    box-sizing: border-box

html
    overflow-x: hidden
body
    font-family: 'Open Sans', sans-serif
ul
    list-style: none
.container
    max-width: 1140px
    margin: auto
img
    max-width: 100%
    height: 100%
    object-fit: cover
.button
    font-weight: bold
    font-size: 16px
    line-height: 22px
    outline: none
    cursor: pointer
    &__text
        font-weight: bold
        font-size: 16px
        line-height: 22px
        color: $blue
        margin-right: 11px
