.header
    background-image: url('../img/main-bg.jpg')
    background-size: cover
    background-repeat: no-repeat
    background-position: center
    padding: 0 0 50px 0
    height: 745px
.navbar
    display: flex
    justify-content: space-between
    align-items: center
    padding: 26px 0 26px 0
    font-weight: 600
    font-size: 16px
    line-height: 22px
    color: $light
    &__wrapper
        display: flex
        justify-content: space-between
    &__menu
        position: relative
        display: flex
        justify-content: space-between
        align-items: center
        padding: 0
        margin: 0 58px 0 0
    &__link
        text-decoration: none
        padding: 13px 18px 13px 2px
        color: $light
    &__item:first-child
        margin-right: 9px
    &__item:nth-child(2)
        margin-right: 8px
    &__item:nth-child(3)
        margin-right: 4px
    &__form
        &-button
            padding: 11px 24px 12px 22px
            color: $light
            border: 2px solid $light
            border-radius: 8px
            background-color: transparent
            font-weight: bold
            font-size: 16px
            line-height: 22px
    &-dropdown
        display: none
        position: absolute
        padding: 0
        &__item
            z-index: 1
            padding: 7px 0 7px 0
            margin: 0
            text-align: left
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2)
        &__link
            font-weight: 600
            font-size: 16px
            line-height: 22px
            color: $light
            text-decoration: none
.dropdown-link
    background: url(../img/drop-down.svg)
    background-repeat: no-repeat
    background-position: right 8% bottom 47%
    margin-right: 12px
.dropdown
    &-item
        &:hover .navbar-dropdown
            display: block
.main
    &-screen
        display: flex
        flex-direction: column
        justify-content: space-between
        align-items: center
        padding: 85px 0
    &-title
        font-family: Roboto
        font-style: normal
        font-weight: bold
        font-size: 48px
        line-height: 60px
        text-align: center
        letter-spacing: 0.2px
        color: $light
.search
    position: relative
    display: flex
    overflow: hidden
    border-radius: 8px
    height: 56px
    background-color: $light
    &-wrapper
        padding-top: 8px
    &__input
        padding: 20px 20px 20px 53px
        width: 760px
        height: 100%
        background: url(../img/search.svg)
        background-repeat: no-repeat
        background-position: left 20px bottom 50%
        outline: none
        border: none
        &::placeholder
            color: #959EAD
            font-weight: 600
            font-size: 16px
            line-height: 22px
    &__button
        position: absolute
        top: 8px
        right: 8px
        padding: 9px 21px
        border: none
        border-radius: 8px
        color: $light
        background-color: $blue
.tags
    padding: 26px 0
    &__title
        margin-right: 10px
        font-weight: 600
        font-size: 16px
        line-height: 22px
        color: $light
    &__button
        padding: 5px 18px 5px 17px
        margin-right: 14px
        font-size: 14px
        line-height: 20px
        color: $light
        background-color: transparent
        border: 1px solid $light
        border-radius: 2px
        outline: none
        cursor: pointer
